<!DOCTYPE html>
<htm>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/package_status.css') }}">
        <script src="{{ url_for('static', filename='scripts/profile_info.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <nav>
                <ul>
                    <li style="list-style: none;"><a href="/">Home</a></li>
                    <li style="list-style: none;"><a href="/new_package">New package</a></li>
                </ul>
            </nav>
            <div class="profile">
              <img
                src="{{ url_for('static', filename='icons/user.png') }}"
              >
              <div class="user_info hidden">
                <p>{{ user.name }}</p>
                <p>{{ user.email }}</p>
                <form method="POST" action="{{ url_for('session.logout') }}">
                    <button type="submit">Logout</button>
                </form>
              </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>sender</th>
                    <th>recipient</th>
                    <th>origin</th>
                    <th>destination</th>
                    <th>location</th>
                    <th>express shipping</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                 <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.recipient }}</td>
                    <td>{{ row.origin }}</td>
                    <td>{{ row.destination }}</td>
                    <td>{{ row.location }}</td>
                    <td>
                        {% if row.express_shipping %}
                         ✔
                        {% else %}
                         ❌
                        {% endif %}
                    </td>
                    <td>
                        <form
                          method="DELETE"
                          action="{{ url_for('.delete_package', id=row.id) }}"
                        >
                            <button type="submit">delete</button>
                        </form>
                    </td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</htm>
